<div className="Counter">
  <h1>Counter</h1>
  <p>{{ currentCount }}</p>
  <button (click)="handleDecrease()">Decrease</button>
  <button (click)="handleReset()">Reset</button>
  <button (click)="handleIncrease()">Increase</button>
</div>


<router-outlet></router-outlet>